* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

ul,
li {
  list-style-type: none;
}

body {
  background: #fffff8;
  overflow-x: hidden !important;
}

a {
  text-decoration: none;
}

html {
  font-family: $f-main;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
