/********************
** Breakpoints
********************/
$bp-xsmall: 576;
$bp-small: 768;
$bp-medium: 992;
$bp-large: 1200;
$bp-xlarge: 1400;

/********************
** Media Queries
********************/
$mq-xsmall: "only screen and (min-width: #{$bp-xsmall}px)";
$mq-small: "only screen and (min-width: #{$bp-small}px)";
$mq-medium: "only screen and (min-width: #{$bp-medium}px)";
$mq-large: "only screen and (min-width: #{$bp-large}px)";
$mq-xlarge: "only screen and (min-width: #{$bp-xlarge}px)";
$mq-retina: "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx)";

/********************
** Fonts
********************/

$baseFontSize: 14;

$f-main: "Arial", sans-serif;
$f-secondary: "Raleway", sans-serif;

/********************
** Colors
********************/

$c-main: #626262;
$c-white: #fff;
$c-black: #000;
